<div id="<%= dom_id employee %>">
  <div class="my-3">
    <% if employee.profile_picture.present? %>
      <%= image_tag employee.profile_picture.variant(:thumb) %>
    <% end %>
  </div>

  <p>
    <strong>Full Name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Assigned Devices:</strong>
    <ul>
      <% employee.devices.each do |device| %>
        <li><%= link_to device.name, device %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Assigned Software:</strong>
    <ul>
      <% employee.softwares.each do |software| %>
        <li><%= link_to software.name, software %></li>
      <% end %>
    </ul>
  </p>

</div>
