<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= device.manufacturer_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= device.category_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= link_to(device.employee.full_name, device.employee) if device.employee %>
  </p>

</div>
